@import '../../assets/scss/variables';

.Basket {
  width: 100%;

  padding: 30px 50px 50px 50px;

  &-header {
    display: flex;
    align-items: flex-end;

    margin-bottom: 30px;

    &-title {
      margin-right: 30px;

      font-size: 20px;
      line-height: 23px;
      font-weight: 700;

      color: $mainBlackColor;
    }
    &-clear {
      &-button {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;

        color: $mainPinkColor;

        cursor: pointer;
      }
    }
  }
  &-body {
    width: 100%;
    height: 400px;

    border: 1px solid $mainLightBlueColor;
    border-radius: 20px;

    &-top {
      height: 100px;

      border-bottom: 1px solid $mainLightBlueColor;
      border-radius: 20px;

      display: flex;
      justify-content: space-between;
      padding: 25px;
      &-logo {
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;

        color: $mainBlackColor;
      }
      &-total {
        &-title {
          font-size: 16px;
          line-height: 140%;

          color: $mainBlackColor;
        }
        &-price {
          font-weight: bold;
          font-size: 20px;
          line-height: 23px;

          color: $mainBlackColor;
        }
      }
      &-action {
        &-button {
          background: $mainBlueColor;
          border-radius: 51px;

          padding: 16px 66px;

          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          color: #fff;

          cursor: pointer;

          border: 0;
          outline: none;
        }
      }
      &-imgs {
        width: 150px;
        height: 100px;
        bottom: 25px;

        position: relative;
        &--package {
          position: absolute;
          top: 0;
          left: 0;
        }
        &--basketImg {
          position: absolute;
          right: -10px;
          top: 30px;
        }
        &--discont {
          position: absolute;
          right: 35px;
          top: 0;
        }
      }
    }
    &-bottom {
      padding: 40px 60px;
      &-line {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .Product {
    &-img {
      &--phone {
      }
    }
    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      max-width: 292px;
      &-top {
      }
      &-bottom {
        display: flex;
        justify-content: space-between;
        width: 100%;
        &-promo {
          width: 148px;

          position: relative;
          &-left {
            width: 71px;
            background: #fff;

            display: flex;
            align-items: center;
            justify-content: center;

            position: absolute;
            left: 0;
            z-index: 2;

            border: 1px solid $mainBlueColor;
            border-radius: 0px 100px 100px 6px;

            font-weight: 600;
            font-size: 12px;
            line-height: 122%;
            color: $mainBlueColor;
          }
          &-right {
            width: 83px;

            display: flex;
            align-items: center;
            justify-content: flex-end;

            padding-right: 12px;

            position: absolute;
            right: 0;
            z-index: 1;

            border: 1px solid $mainPinkColor;
            border-radius: 0px 100px 100px 0px;

            font-weight: 600;
            font-size: 12px;
            line-height: 122%;
            color: $mainPinkColor;
          }
        }
        &-info {
          font-size: 14px;
          line-height: 140%;
          color: $mainBlackColor;
          span {
            font-weight: 700;
          }
        }
      }
    }
    &-quantity {
      width: 135px;
      height: 44px;

      padding: 22px 18px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      border: 1px solid $mainLightBlueColor;
      border-radius: 35px;
      &-sign {
        font-size: 26px;
        line-height: 10px;
        color: $mainLightBlueColor;

        display: flex;
        align-items: center;
        justify-content: center;

        user-select: none;

        cursor: pointer;
      }

      &-total {
        width: 100%;

        &-value {
          display: block;

          width: 70%;
          margin: 0 auto;

          text-align: center;
          font-size: 16px;
          line-height: 140%;

          border: 0;

          outline: none;

          color: $mainBlackColor;
        }
      }
    }
    &-price {
      &-now {
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;

        color: $mainBlackColor;
      }
      &-old {
        font-size: 14px;
        line-height: 122%;

        color: $footerGreyColor;

        text-decoration: line-through;
      }
    }
    &-delete {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
