@import '../../assets/scss/variables';

.HistoryOrders {
  padding: 30px 50px 50px 50px;

  &-title {
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;

    color: $mainBlackColor;

    margin-bottom: 20px;
  }
  &-body-orders-wrapper {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

@import './HistoryOrders.media.scss';
